APP_NAME=MoaWorks
APP_ENV=local
APP_LOCALE=ko-KR
APP_TIMEZONE=Asia/Seoul

BACKEND_HOST=0.0.0.0
BACKEND_PORT=8510
FRONTEND_PORT=3510

POSTGRES_DB=moaworks
POSTGRES_USER=moaworks
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=host.docker.internal
POSTGRES_PORT=5435

MAIL_LAYER_HOST=mail
MAIL_LAYER_SMTP_PORT=587
MAIL_LAYER_IMAP_PORT=993

STORAGE_DRIVER=local
STORAGE_LOCAL_PATH=./data/storage

WATCHER_ENABLED=true
WATCHER_INTERVAL_SECONDS=60

TRANSLATION_ENABLED=false
TRANSLATION_PROVIDER=disabled

SETUP_SECRET_KEY=change-this-stage1-secret-key
