[Unit]
Description=Run MoaWorks server SMTP certificate renewal twice daily

[Timer]
OnCalendar=*-*-* 00,12:00:00
RandomizedDelaySec=30m
Persistent=true
Unit=moaworks-mail-certificate-renew-server.service

[Install]
WantedBy=timers.target
